:root {
  --main-color: #ffffffe9;
  --font-family-main: "Roboto", sans-serif;
  --font-family-btn: "Montserrat", sans-serif;
  --primary-color: #b6cfd4;
  --social-color: #201e1e;
  --box-color: #e3eef0;
}
body {
  background-color: #180201;
  color: var(--main-color);
}
.hero,
.about-hero {
  background-image: url(../img/main-puma2.jpeg);
  background-size: cover;
  background-attachment: fixed;
  text-align: left;
  padding: 276px 0px;
  color: var(--main-color);
  margin: 0 auto;
}
h1,
h2,
h3,
h5,
p .text-start {
  font-family: var(--font-family-main);
}
h2 {
  font-size: 24px;
}
h1 {
  font-size: 63px;
}
.mt-10 {
  margin-top: 50px !important;
}
.text {
  font-size: 18px;
  font-weight: 300;
  padding: 10px 470px;
}
.btn {
  font-family: var(--font-family-btn);
  font-size: 14px;
  color: #272142;
}
@media (max-width: 767px) {
  h1 {
    font-size: 42px;
  }
  .hero,
  .about-hero {
    padding: 70px 10px;
  }
  .row {
    padding: 0px !important;
  }
  div.about-hero {
    padding: 80px 20px !important;
  }
  img {
    width: 80%;
  }
  .hero,
  .about-hero {
    background-position: center;
  }
  footer .mail-link,
  .contact-links a {
    position: fixed;
  }
  div.contact-page {
    margin: 0;
  }
}
.nav-link:active {
  color: #4d34b9 !important;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  margin-bottom: 40px;
}

.app-link,
.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.app-links .app-link:hover {
  color: var(--primary-color);
  background: #180201;
}
.contact-link,
.app-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: #180201;
}

footer .mail-link a {
  color: var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: left;
  color: var(--primary-color);
  font-size: 26px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.app-link:hover {
  text-decoration: none;
}
.app-link {
  margin: 0px;
}
.mt-10 {
  margin-top: 50px !important;
}
.mb-10 {
  margin-bottom: 30px !important;
}
.shadow {
  box-shadow: 3px -2px 20px -6px rgba(107, 106, 107, 1);
}
h5 {
}
.row {
  padding: 20px 100px;
}
.about-hero {
  text-align: left;
  padding: 100px;
  color: var(--main-color);
  margin: 0 auto;
}
div.linkSource a {
  font-family: "Rubik Maze", cursive;
  text-align: center;
  padding: 5px;
  width: fit-content;
}
.bg-dark {
  background-color: #180201 !important;
}
.starter {
  margin-left: 70px;
}
footer .contact-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background: var(--social-color);
  padding: 7px 12px;
  border-radius: 50%;
  font-size: 18px;
}
footer .contact-links a:hover {
  border-radius: none;
  padding: auto;
  background: var(--primary-color);
  color: var(--social-color);
  transition: all 100ms ease-in-out;
}
footer {
  margin: 60px 20rem;
}
footer .work-inquiry-box {
  border-radius: 2px;
  background: var(--primary-color);
  padding: 10px 15px;
  color: var(--social-color);
  opacity: 0.3;
}
.btn-secondary {
  background: var(--social-color);
  color: var(--primary-color);
}
.contact-page {
  margin: 60px 20rem;
}
.fa-github {
  color: var(--primary-color);
  font-size: 50px;
}
.app-img {

  filter: brightness(50%);
}
